@import url(variables.css);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* userbar */
.userbar {
  .userbar-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;

    .userbar-avatar-image {
      display: inline-block;
      position: absolute;
      min-width: 100%;
      min-height: 100%;
      left: -9999px;
      top: -9999px;
      bottom: -9999px;
      right: -9999px;
      margin: auto;
    }
  }

  .webix_list_item {
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--main-color-light);
    font-size: var(--main-font-size);
    background: none;
    max-width: 150px;

    &:hover, &:focus, &:active {
      background: none;
      outline: none;
    }
  }
}

.main-header-logo.webix_view {
  color: var(--header-logo-color);
  font-size: var(--logo-font-size);
  background-color: transparent;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 16px;
  cursor: pointer;

  .webix_template {
    color: var(--header-logo-color);
    font-size: var(--logo-font-size);
    background-color: transparent;
    padding: 21px 5px 22px 0;
  }
}

.osd-container, .webix-component {
  width: 100%;
  height: 100%;
}

.large-progress {
  font-size: 100px !important;
  filter: invert(53%) sepia(86%) saturate(1666%) hue-rotate(358deg) brightness(102%) contrast(110%);
}

body > iframe {
  display: none;
}
