.template-image-name {
    margin: 5px 0px 0px 5px;
    height: 20px;
    position: absolute;
    color: #e5ee61;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

.template-image-wrap {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.template-image-flexible-element {
    position: relative;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.template-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.template-image-icons {
    width: 100%;
    position: absolute;
    bottom: 5px;
    display: flex;
    justify-content: flex-end;
}

.template-image-icons .icon {
    width: 30px;
    height: auto;
}

.template-image-icons .icon:hover {
    color: #3498db;
}

.image-header-toogle-txt {
    border-width: 0 !important;
    font-size: 18px;
}

.no-margin {
    margin: 0;
}

.no-margin.text-to-right {
    text-align: right;
}

.images-header-p {
    margin: 0;
    font-size: 28px;
}

.filters-header-p {
    padding-left: 10px;
    margin: 0;
    font-size: 28px;
}

.app-logo {
    width: auto;
    height: 100%;
}

.found-button {
    position: relative;
    background: #3498db;
    text-align: center;
    vertical-align: middle;
    color: #FFFFFF;
    font-size: 19pt;
    width: 100%;
    height: 100%;
    padding-top: 8px;
}

.found-button .button-icon {
    position: absolute;
    top: 12px;
    right: 15px;
    cursor: pointer;
    font-size: 19pt;
}

.webix_template {
    padding: 0 !important;
}

.label-css > label, .slider-label > div,
.combo-label > div, .checkbox-label > div,
.toggle-label > div, .rangeslider-label > div{
    font-size: 18px;
    text-decoration: underline;
}

.slider-label-right .webix_template {
    float: right;
}

.filter-block-delimiter {
    border-top: 2px solid lightgrey !important;
}

.checkbox-filter, .toggle-filter {
    margin-left: 40px !important;
}

.toggle-filter .webix_img_btn {
    text-align: initial;
}

.toggle-filter .webix_img_btn .webix_icon_btn {
    position: relative;
    top: 4px;
    font-size: 22px;
    margin-right: 6px;
}

.checkbox-filter .webix_inp_label {
    display: none;
}

.radio-css > div {
    padding-left: 40px;
}
.main-label {
    font-size: 24px;
    font-weight: 900;
}
.slider-num-right {
    text-align: right;
}
.window-image {
    width: inherit;
    height: inherit;
}

.overall {
    height:100%;
    line-height: 26px;
}
.name{
    height:100%;
    float:left;
    overflow: hidden;
}
.size{
    padding: 0 10px;
    width: 100px;
    text-align: right;
    float: right;
}
.remove_file{
    float:right;
    width:15px;
    padding-left: 10px;
}
.status{
    float: right;
    position: relative;
    margin-top: 4px;
    width: 80px;
    height: 16px;
    line-height: 16px;
    border: 1px solid #A4BED4;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
.progress{
    height: 100%;
    position: absolute;
    background-color: #b8e6ff;
}
.message{
    z-index: 1;
    width:100%;
    text-align:center;
    position: absolute;
}
.message.error{
    color: #e83b3b;
}

/*Filter Header*/
.toggle-skin-label {
    font-weight: 500;
    font-size: 16px;
}

.row-col-label {
    margin-right: 10px;
}


/*Image window*/

.popup-img img {
    max-width: 100%;
}

.openseadragon-template-image .webix_template {
    display: none;
}


/*Collapsible Fitlers*/

.collapssible-filter {
    cursor: pointer;
}

.collapssible-filter div:before {
    width: 15px;
    font-size: 24px;
    vertical-align: bottom;
    padding-right: 10px;
    text-decoration: none;
    display: inline-block;
}

.collapssible-filter.hidden-filter div:before {
    content: '+';
}

.collapssible-filter.showed-filter div:before {
    content: '-';
}

.images-dataview {
    overflow-y: auto !important;
}

.crumbs-scroll-cont {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

.crumbs-scroll-cont .crumb-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 40%;
    margin: 2px;
    border-width: 2px;
    border-radius: 3px;
}

.crumbs-scroll-cont .clear-all-crumbs {
    background-color: #dddddd;
    cursor: pointer;
}

.crumbs-scroll-cont .crumb-button .crumb-text {
    display: inline-block;
    text-overflow: ellipsis;
    padding: 8px;
    border-width: 2px;
}

.crumbs-scroll-cont .crumb-button .webix_icon {
    position: relative;
    cursor: pointer;
}

.filter-list-header {
    padding-left: 15px;
}

.ellipsis-text,
.ellipsis-text .webix_cell,
.ellipsis-text .webix_list_item,
.ellipsis-text .webix_template,
.ellipsis-text .webix_el_box,
.ellipsis-text .webix_inp_static,
.ellipsis-text button {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.webix_icon_btn.mdi-close {
    margin-right: 0;
}


/*Safari specific*/

_::-webkit-:host:not(:root:root), .webix_slider_handle {
    height: 15px !important;
    width: 15px !important;
}

body.compact-skin .webix_slider_box .webix_slider_handle {
    top: 8px;
}

.login-menu {
    background: transparent;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.login-menu .webix_template {
    display: flex;
    justify-content: center;
    align-items: center;
}

.window-header-toolbar .window-header-toolbar-text .webix_template {
    padding: 5px !important;
    font-size: 15px;
}

.webix_overlay {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dataview-overlay {
    font-size: 25px;
    font-weight: bold;
}

/*Approved_Metadata_popup*/

.metadata-grouplist__group-value{
    width: 60%;
}

.metadata-grouplist__item-value{
    width: 60%;
}

