.idea/
codebase/
node_modules/
*.log
*.lock
*.swp
services/__pycache__/*
*.ipynb_checkpoints*
*.ipynb_checkpoints*
.vscode
.env
services/*.png
services/*.jpg
*.pyc*

# Ignoring Python environment.
env/  