npm-debug.log
.idea/
codebase/
node_modules/
*.log
*.lock
.vscode/
testdata/

docker-compose*
Dockerfile*
.gitignore
*.log
.env.sample
oldTaggerVersions
README.md
pm2.config.js
license.txt
