{
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 7,
        "sourceType": "module"
    },
    "extends": ["google"],
    "rules": {
        "camelcase": 0,
        "quotes": 0,
        "new-cap": 0,
        "require-jsdoc": 0
    }
}
