.collapser .collapser-body {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.icon-btn .webix_icon_btn {
	margin-right: 0;
}

.io-openseadragon-viewer {
	.webix_template {
		display: none;
	}
}

.palette-dataview {
    .palette-dataview__item {
      width: 100%;
      height: 100%;
    }
    .webix_dataview_item {
      padding: 2px;
    }
    .webix_selected {
      background-color: unset;
      border: 1px solid black;
    }
}

.io-slider-title-with-value {
  .webix_slider_title {
    display: flex !important;
    padding: 0 10px;
    justify-content: space-between;
    box-sizing: border-box;
  }
}

.histogram-chart {
  .bg-bar {
    fill-opacity: 0;
    &:hover {
      fill-opacity: 1;
    }
  }
}
