.mainStylesIcons() {
	.svg-icon {
		&.arrow-left {
			background: url("../assets/imgs/arrow-left.svg");
			width: @icon-size;
			height: @icon-size;
		}

		&.arrow-right {
			background: url("../assets/imgs/arrow-right.svg");
			width: @icon-size;
			height: @icon-size;
		}
	}
}
