.metadata-template {
  overflow: auto;

  .webix_template {
    height: auto;
  }

  .jsoneditor {
    height: auto;
    border: none;
  }

  .jsoneditor-tree-inner {
    padding-bottom: 30px !important;
  }

  .jsoneditor-readonly {
    font-size: 14px !important;
    color: #6E7480;
    font-family: Roboto, Arial;
    font-weight: bold;
  }

  .jsoneditor-field {
    font-family: Roboto, Arial;
    font-size: 14px !important;
    color: #6E7480;
  }

  .jsoneditor-value {
    font-family: Roboto, Arial;
    font-size: 14px !important;
    color: #6E7480 !important;
  }
}