/* multichannel-view */
.mainStylesMultichannelView() {
	.multichannel-view {
		.multichannel-view__channel-list {
			.webix_list_item {
			  cursor: default;
			}
			.channel-item__name {
			  cursor: pointer;
			}
			.checkbox {
			  cursor: pointer;
			  font-size: 1.07em;
			  &:hover {
					color: @btn-hover;
				}
			}
		}

		.multichannel-openseadragon-viewer {
			position: relative;
			.icons {
				z-index: 2;
				display: flex;
				position: absolute;
				flex-direction: column;
				justify-content: space-between;
				align-items: flex-start;
				height: 200px;
				font-size: 26px;
				.icon {
					cursor: pointer;
					&:hover {
						color: @btn-hover;
					}
				}
			}
			.osd-container {
				width: 100%;
				height: 100%;
			}
		}

		.groups-list .webix_list_item, .groups-channels-list .webix_list_item  {
			display: flex;
			justify-content: space-between;
			.icon:hover {
				color: @btn-hover;
				cursor: pointer;
			}
		}
	}
}
  