.datatable-images-template {
  border: 1px solid #BDC4D4;
}

.gallery-header-template {
  border-bottom: none;
  .webix_template {
    padding-top: 7px;
  }
}

.templateMain{
  margin-top: 10px;
  margin-left: 25px;
}

.listTemplate{
  margin-left: 15px;
  max-width: 250px;
}

.metadata-template-collpaser {
  padding-bottom: 3px;
  margin-left: -20px;
  padding-left: 20px
}

.metadata-info-template {
  white-space: pre-wrap;
  line-height: 2;
  display: none;
  margin-top: -50px;
}

.validation-values-template {
  display: none;
  white-space: pre;
  text-align: center;
}

.new-tag-name-template {
  .webix_template {
    padding-left: 2px;
  }
}

.webix_row_select > span.metadata-column-template {
  color: inherit !important;
}

.window-header-label {
  .webix_template, .webix_el_box {
    font-weight: 500;
    padding-left: 10px;
    .box-sizing(border-box);
  }
}

.ellipsis-text,
.ellipsis-text .webix_cell,
.ellipsis-text .webix_list_item,
.ellipsis-text .webix_template,
.ellipsis-text .webix_el_box,
.ellipsis-text .webix_inp_static,
.ellipsis-text label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mainStylesTemplates() {

  .webix_drop_file:before {
    content: "Drop Files here";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1px;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 2px @selected-bg dashed;
    background-color: @dark-main-bg;
    z-index: 2;    
    font-size: 30px; 
  }

  .uploading-progress-template {
    text-align: center;
    color: @main-color;
  }

  .progress-component {
    .webix_template {
      padding: 0;
    }
    .progress-bar {
      display: inline-block;
      vertical-align: middle;
      overflow: hidden;
      width: 100%;
      height: 20px;
      .bar, .progress {
        height: 100%;
        display: block;
      }
      .bar {
        position: relative;
        background-color: rgba(0, 0, 0, .075);
      }
      .progress {
        background: #75b800;
        &.error {
          background: #ef5350;
        }
      }
      .progress-text {
        color: @main-color;
        position: absolute;
        font-size: 12px;
        width: 100%;
        height: 100%;
        line-height: 17px;
        text-align: center;
      }
    }
  }

  .recognition-status-template {
    padding-left: 20px;
    font-size: @middle-font-size;
    cursor: pointer;
  }

  .templateName{
    height: 25px;
    font-size: @large-font-size;
    padding: 0 10px;
    margin-bottom: 40px;
  }

  .list-of-tags-template {
    font-size: @middle-font-size;
    padding-left: 17px;
  }

  .webix_overlay {
    padding: 0;
    .data-subview-overlay {
      overflow: hidden;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 20px 0 20px;
      .overlay-text {
        display: inline-block;
        color: @overlay-text-color;
        font-size: @large-font-size;
      }
    }

    .empty-overlay {
      background-color: @main-bg;
      width: 100%;
      height: 100%;
    }
  }

  .hidden-overflow {
    overflow: hidden !important;
  }

  .edit-column-window {
    .new-columns-header {
      text-align: center;
      font-weight: 600;
      &.new-columns-header-main {
        font-size: 18px;
      }
    }
  }

  .compare-metadata-column, .compare-metadata-column .webix_template, .compare-metadata-column .webix_view {
    background: @dark-main-bg;
    .json-viewer {
      padding: 5px;
      box-sizing: border-box;
    }
  }

  .datatable-image-column {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}