.datatable-images-template {
  border: 1px solid #BDC4D4;
}

.gallery-header-template {
  border-bottom: none;
  .webix_template {
    padding-top: 7px;
  }
}

.templateMain{
  margin-top: 10px;
  margin-left: 25px;
}

.listTemplate{
  margin-left: 15px;
  max-width: 250px;
}

.templateName{
  height: 15px;
  font-size: 35px;
  padding: 10px;
  margin-bottom: 40px;
}

.metadata-template-collpaser {
  padding-bottom: 3px;
  margin-left: -20px;
  padding-left: 20px
}

.metadata-info-template {
  white-space: pre-wrap;
  line-height: 2;
  display: none;
  margin-top: -50px;
}

.validation-values-template {
  display: none;
  white-space: pre;
  text-align: center;
}

.list-of-tags-template {
  font-size:17px;
  font-style:italic;
  padding-left: 17px;
}

.new-tag-name-template {
  .webix_template {
    padding-left: 2px;
  }
}

.webix_row_select > span.metadata-column-template {
  color: inherit !important;
}